<p>liststud works!</p>
<p>studreactive works!</p>
<div class="container mx-auto px-4">
  <div>
    <p class="text-xl font-bold mb-4">Student List Using Reactive Form</p>

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" routerLink="/r-addstud">
      Add Student
    </button>
  </div>
  <div>
    <table class="min-w-full bg-white border border-gray-200">

      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="py-2 px-4 border-r">Id</th>
          <th class="py-2 px-4 border-r">Name</th>
          <th class="py-2 px-4 border-r">Age</th>
          <th class="py-2 px-4 border-r">Department</th>
          <th class="py-2 px-4 border-r">Teachers</th>
          <th class="py-2 px-4 border-r">Mobile</th>
          <th class="py-2 px-4 border-r">Address</th>
          <th class="py-2 px-4 border-r">Delete</th>
          <th class="py-2 px-4 border-r">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" class="border-b hover:bg-gray-50">
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.id }}
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.name }}
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.age }}
          </td>

          <td class="py-2 px-4 border-r" style="text-align: center"> 
            {{ student.department ? student.department.name : '' }}

          </td> 
          <td class="py-2 px-4 border-r" style="text-align: center">
            <!-- {{ student.teachers. }} -->
            <span *ngFor="let num of student.teachers; let i = index">
              {{ num.name }}<span *ngIf="i !== student.teachers.length - 1">, </span>
            </span>

          </td>
          <!-- mobile number -->
          <td class="py-2 px-4 border-r" style="text-align: center">
            <span *ngFor="let num of student.mobileNumbers; let i = index">
              {{ num.mobileNumber }}
              <span *ngIf="i !== student.mobileNumbers.length - 1">, </span>
            </span>
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            <span *ngFor="let add of student.addresses; let i = index">
              {{ add.area }},{{ add.city }},{{add.pincode }}
              <span *ngIf="i !== student.addresses.length - 1">, </span>
            </span>
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            <button (click)="delete(student.id)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
              Delete
            </button>
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            <button (click)="update(student.id)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 border-r"
              style="text-align: center">
              Update
            </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>