<div class="container mx-auto p-4">
    <form [formGroup]="regForm" (ngSubmit)="update(regForm)"
        class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        
        <!-- Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" name="name" type="text" formControlName="name" placeholder="Enter the Name" />
            <div *ngIf="regForm.get('name')?.touched && regForm.get('name')?.invalid" class="text-red-500 text-sm">
                Name is required !!
            </div>
        </div>
  
        <!-- Age -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
                Age
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="age" name="age" type="number" formControlName="age" placeholder="Enter the Age" />
            <div *ngIf="regForm.get('age')?.touched && regForm.get('age')?.invalid" class="text-red-500 text-sm">
                Age is required !!
            </div>
        </div>
  
         <!-- Deparment -->
   <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="department">
      Department
    </label>

    <ng-select
      [items]="departments"
      bindLabel="name"
      bindValue="id"
      formControlName="department"
      placeholder="Select Department"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      required
      
      >
    </ng-select>
    
  </div>
     
  
        <!-- Buttons -->
        <div class="flex items-center justify-between">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Submit
            </button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                (click)="reset()">
                Reset
            </button>
        </div>
    </form>
  </div>
  